@{ ViewBag.Title = "Home Page"; }
@model List<MVC_Blog_TeamWork.Models.Post>


<section class="row">
    @foreach (var post in Model)
    {
        <article class="post col-md-4">
            <h2 class="title">@post.Title</h2>
            <div class="about">Публикувано от
            @if(post.Author!=null)
            {
                @:от
               <i>@post.Author.FullName</i>
            }
            на<i>@post.Date</i>
            </div>
            <div class="body">@post.Body
            </div>
        </article>
    }
    <article class="post col-md-4">
        <h2 class="title">Title</h2>
           
        <div class="body">
            <p>Tova e test</p>
    </div>
</article>
</section>


